
target/
dbt_packages/
logs/


# Python
__pycache__/
*.pyc

# Virtual env
venv/

# dbt target and logs
target/
logs/

# dbt profiles (contains credentials!)
profiles.yml

# Dagster temp dirs and logs
.tmp_dagster_home_*/
my_dagster_project/.mypy_cache/
my_dagster_project/.pytest_cache/
my_dagster_project/logs/
my_dagster_project/__pycache__/

# OS files
.DS_Store

# General
*.log
